@font-face {
    font-family: 'monument_extendedregular';
    src: url('monumentextended-regular-webfont.woff2') format('woff2'),
        url('monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
	font-family: 'monument_extendedregular' !important;
	font-style: normal;

}

.main {
	overflow: hidden;
	position: relative;
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #ffffff;
	--color-bg: #1c1c1c;
	--color-link: #blue;
	--color-link-hover: #d82d14;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* font-family: 'Chivo', sans-serif; */
	background-image: url(../img/bg01.svg);
	cursor: auto;
	font-family: 'monument_extendedregular' !important;

}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */

main::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise.png);

	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

main {
	padding-top: 170px;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.logo{
	 z-index: 1;
	 width: 50%;
	 margin-bottom: 20px;
	}
	
.logo img{
	width: 100%; 
	padding-right: 30px;}

.frame {
	padding: 3rem 5vw;
	z-index: 1000;
	line-height: 1;
	top: 0;
	position: fixed;
	background-color: #1c1c1c;
	width: 100%;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: 700;
}

.frame__links {
	display: inline;
	margin: 0 0 1rem;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
}

.menu__item {
	cursor: default;
	display: flex;
	position: relative;
	padding: 0 5vw;
}

.menu__item-fix {
	font-family: 'Chivo', sans-serif;
	font-size: var(--item-font-size);
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #ffffff;
	text-stroke: 1.5px #000;
/*

*/
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}


.menu__item-link {
	display: inline-block;
	align-items: center;
	cursor: pointer;
	position: relative;

/* Vecchia string per effetto outline  :
-webkit-text-stroke: 1.5px #ffffff;
	text-stroke: 1.5px #000;
*/
	-webkit-text-fill-color: #ffffff;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	font-family: 'Monument Extended', 'Neue Montreal', sans-serif;
	counter-increment: menu;
/*	content:  counter(menu); */
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	/* width: var(--marquee-width); */
	width: 100%;
	overflow: hidden;
	pointer-events: none;
	color: #d82d14;
  mix-blend-mode: hard-light;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	/* font-size: var(--item-font-size); */
	font-size: 5em;

	font-weight: 900;
	line-height: 1.15;
}



.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media screen and (min-width: 53em) {
	.frame {
		text-align: left;
		display: grid;
		align-content: space-between;
		width: 100%;
		padding: 2.5rem 6vw;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto;
	}

	.frame__title-wrap {
		display: flex;
		align-items: start;
	}

	.frame__info {
		margin: 0;
	}

	.frame__title {
		margin: 0 1rem 0 0;
	}

	.frame__links {
		padding: 0;
		justify-self: end;
	}

	.frame a {
		pointer-events: auto;
	}

}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }

}

.stone {
    width: 400px;
    height: 400px;
		/* animation-duration: 8s; */
	position: absolute;
    /* transition-timing-function: ease-in; */
    /* SOSPESO :  animation: cursorAnim .30s infinite ;*/
	transform: translate(-50%, -50%);
    pointer-events: none;
	transition-duration: 500ms;
	/* transition-timing-function: ease-out; */
	/* transition-timing-function: ease-in; */
	/* position: fixed; */
	transition-timing-function: ease-out;
}
/* .pulse {
	animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
	0% {
	  scale: 1.1;
	}
	100% {
	  scale: 1;
	  transform: translate(-50%, -50%);
	}
  } */

.btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 5%;
	width: 70px;
}

.btn:hover {
  background-color: #d82d14;
  color: white;
}

.blocco-cta {
	cursor: default;
	position: relative;
	padding: 0 5vw;
	height: 7vw;
	margin-top: 30px;


}



/* Style all font awesome icons */
.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-f {
  background: transparent;
  color: white;
	font-size: 50px;
}

.fa-facebook-f:before {
    font-size: 50px;
	}

	/* Instagram */
	.fa-instagram {
	  background: transparent;
	  color: white;
		font-size: 50px;
	}

	.fa-instagram:before {
	    font-size: 50px;
		}

.main {
	position: relative;
	overflow: hidden;
}

.fa-arrow-up {
	font-size: 3em;
}

/* news */
.news {
	position: relative;
}


.news-title {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	text-align: center;
	height: 101px;
	position: relative;
}

.news-title h2 {
	font-size: 4.8em;
}

.stone-img-sx {
	width: 315px;
	transform: rotate(-180deg);
	position: absolute;
	top: -80%;
	left: -8%;
	z-index: 3;
	
}

.stone-img-dx {
	width: 200px;
	transform: rotate(-120deg);
	position: absolute;
	top: -12%;
	right: 5%;
	z-index: 3;
}

.news-cards-container {
	background-color: #ece9e9;
	width: 100%;
	padding: 150px 0;
}

.inner-cards-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.card-cont{
	width: 474px;
	height: 337px;
	/* background-color:cornflowerblue; */
	position: relative;
}

.row-overflow {
	overflow-x: scroll;
	width: 100%;
	z-index: 10;
	position: relative;
}

.row-overflow .col {
	margin: 0 20px;
}
.card {
	width: 90%;
    height: 90%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	z-index: 3;
}

 .card-img {
	border-top: 1px solid white;
	height: calc(100% - 40px);
} 

.card-title {
	height: 40px;
}

.card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 20px;
}

.vector {
  width: 90%;
  height: 90%;
  margin: 24.7px 43.9px 0 0;
  padding: 0.6px 1.1px 0.6px 1.1px;
  background-color: greenyellow;
  position: absolute;
  z-index: 1;
  /* background-image: linear-gradient(227deg, #111110 79%, #2ffd0e 72%, #26fd03 66%, #34f1b8 39%, #32bde9 19%); */
}


.artisti-title {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	text-align: center;
	height: 101px;
	position: relative;
}

.artisti-title h2 {
	font-size: 75px;
	font-weight: bold;

}

.stone-artisti {
	width: 261px;
	position: absolute;
	top: -73px;
	left: 40%;
}

.card-artisti {
	width: 513.7px;
	height: 475.2px;
	position: relative;
}

.artista {
	width: 90%;
	height: 90%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	background-color: #f4f4f4;
	border: 1px solid black;
	color: #000;
}

.artista-title {
	height: 40px;
}

.artista-title h3 {
	font-size: 2em;
	font-weight: bold;
}

.artista-title h5 {
	font-size: 1em;
}

.artista-img {
	height: calc(100% - 40px);
	border-top: 1px solid #000;
}

.artista-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	padding: 10px;
}

.vector-orange {
	width: 90%;
	height: 90%;
	background-color: orange;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 1px solid black;

}

.player {
	height: 30%;
	width: 80%;
	bottom: 5%;
	left: -10%;
	position: absolute;
	background-color: #f4f4f4;
	z-index: 4;
	border: 1px solid black;
	color: #000;

}

.fs-rem-2 {
	font-size: 2rem;
}

.down-card {
	position: relative;
	bottom: -30px;
}



/* TICKET */

.ticket-title{
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	text-align: center;
	height: 101px;
	position: relative;
}

.ticket-title h2 {
	color: #ffffff;
	font-size: 75px;
}

.stone-ticket-1,
.stone-ticket-2 {
	width: 300px;
	position: absolute;
	z-index: 5;
}

.stone-ticket-1{
	top: -90%;
	left: 20%;

}


.stone-ticket-2{
	top: -90%;
	right: 10%;

}

.ticket-container {
	background-color: #ece9e9;
	height: 50vh;
	position: relative;
}

.ticket-day {
	border: 3px solid #000;
	border-radius: 18px;
	padding: 24px;
	color: #000;

}

/* LOCATION */
.location{
	position: relative;
	z-index: 5;
}

.location-title{
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	text-align: center;
	height: 101px;
	position: relative;
	background-color: #1c1c1c;
}

.location-title h2 {
	color: #ffffff;
	font-size: 75px;
}

.stone-location{
	position: absolute;
	left: 10px;
	width: 270px;
	top: -60px;
	z-index: -1;

}

.location-card-container {
	/* flex-wrap: nowrap; */
	position: relative;

}

.mt-80{
	margin-top: 80px;
}

.mb-80{
	margin-bottom: 80px;
}
.location-card {
	min-width: 513.7px;
	height: 475.2px;
	position: relative;
	margin: 0 40px;
	position: relative;
}

.location-card-title {
	background-color: #f4f4f4;
	height: 90%;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	border: 1px solid black;
	color: #000;
}

.day-title{
	height: 40px;
}

.img-location{
	height: calc(100% - 40px);
	border-top: 1px solid #000;
}

.img-location img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 10px;
}

.location-orange {
	background-color: orange;
	height: 90%;
	width: 90%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	border: 1px solid black;
}

.location-player{
	background-color: #f4f4f4;
	position: absolute;
	height: 25%;
	width: 70%;
	bottom: 5%;
	left: -10%;
	z-index: 4;
	border: 1px solid black;
	color: #000;
}


/* SPONSOR */


.sponsor {
	width: 100%;
	/* height: 60vh; */
}

.sponsor-title {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	text-align: center;
	height: 101px;
	position: relative;
	background-color: #1c1c1c;
}

.sponsor-title h2 {
	color: #ffffff;
	font-size: 75px;
}

.stone-sponsor-1{
	position: absolute;
	top: -66%;
	left: 5%;
	width: 302px;
	z-index: -1;
  
}

.stone-sponsor-2{
	position: absolute;
	top: 25%;
	right: 40%;
	width: 220.9px;
	transform: rotate(-315deg);
}


/* FOOTER */

footer {
	background-color: #000;
	width: 100%;
	/* min-height: 40vh; */
}



/* media */

@media screen and (max-width: 991px) {
	
	.news-title h2 {
		font-size:35px;
	}


	.ticket-title h2,
	.location-title h2,
	.sponsor-title h2,
	.artisti-title h2,
	.artisti-title h2 {
		font-size: 35px;
		/* margin-left: 150px; */
	}

	.stone-ticket-1{
		left: 40%;
		width: 261px;
	}
	
}



@media screen and (max-width: 940px) {

	.menu__item-img {
		width: 16em;
		height: unset;
	}

	.menu__item-link {
		font-size: 2.5em;
	}

	.marquee__inner span {
		font-size: 2em;
	}
	
}

@media screen and (max-width: 575px) {
	#scroll-text {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		
		-moz-animation: none !important;
		-webkit-animation: none !important;
		animation: none !important;
	}

	@-moz-keyframes animation {
		from { -moz-transform: none; }
		to { -moz-transform: none; }
	  }




	  @-webkit-keyframes my-animation {
		from { -webkit-transform: none !important; }
		to { -webkit-transform: none; }
	  }
	  
	  @keyframes my-animation {
		from {
		  -moz-transform: none !important;
		  -webkit-transform: none !important;
		  transform: none !important;
		}
		to {
		  -moz-transform: none;
		  -webkit-transform: none;
		  transform: none;
		}
	  }  
	




	.ticket-title h2,
	.location-title h2,
	.sponsor-title h2,
	.artisti-title h2,
	.artisti-title h2 {
		font-size: 50px;
		margin-left: unset;
	}

	.frame{

	}

	.frame .logo{
		width: 280px;
	}

	.frame .logo img{
		width: 100%;
	}

	.opacity {
		opacity: 0;
	}

	.d-block {
		opacity: 1;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.stone {
		height: 250px;
	}

	.menu__item-link {
		font-size: 1.8em;
	}

	.marquee__inner span {
		font-size: 1.4em;
	}

	.logo {
		width: 100%;
	}

	.mb-80{
		margin-bottom: 0;
	}

	.row-overflow {
		width: 100%;
		overflow-x:unset;
	}

	.down-card {
		bottom: 0;
	}

	.fa-solid {
		font-size: 1.8em;
		margin-right: 15px;
	}
	/* news */

	.news .inner-cards-container {
		display: block;
	}

	.news-cards-container {
		transition: all 2s linear;
		padding:50px 0;
	}

	.row-news {
		overflow-x: scroll;
		display: flex;
		flex-wrap: nowrap;
	}

	.news-title h2 {
		font-size: 1.8em;
	}

	.stone-img-sx {
		width: 150px;
		top: -17%;
		left: -8%;
		display: none;		
	}

	.stone-img-dx {
		width: 110px;
		right: 0%;
		display: none;
	}

	.card-cont {
		width: 308px;
		height: 376px;
	}
	
	/* artisti */

	.artist-cards-container {
		transition: all 2s linear;
	}
	.artisti-title{
		border-top: 0;
	}

	.artisti-title h2 {
		font-size: 1.8em;
	}

	.stone-artisti {
		width: 120px;
		top: 46%;
		left: 30%;
		display: none;
	}

	.artista-title h3{
		font-size: 20px;
	}

	.artista-title h5{
		font-size: 14px;
	}

	.player {
		height: 40%;
		width: 87%;
		bottom: -21%;
		left: -7%;
	}

	.player h2 {
		font-size: 1.8em;
	}

	.player h5 {
		font-size: 20px;
	}

	.player p {
		font-size: 14px;
	}

	.card-artisti {
		width: 302.7px;
		height: 415.2px;
		margin-bottom: 170px;
	}

	.artista-title h2{
		font-size: 1.8em;
	}

	.artista-title h5 {
		font-size: 14px;
	}

	/* ticket  */

	.ticket-container {
		transition: all 2s linear;
	}
	.ticket-title{
		border-top: 0;
	}
	.ticket-title h2{
		font-size: 1.8em;
	}
	
	.stone-ticket-1,
	.stone-ticket-2{
		display: none;
	}

	/* location */
	.location-container {
		transition: all 2s linear;
	}
	.location-title{
		border-top: 0;
	}

	.location-title h2{
		font-size: 1.8em;
	}

	.stone-location{
		display: none;
	}


	/* sponsor */
	.sponsor-container {
		transition: all 2s linear;


	}
	.sponsor-title{
		border-top: 0;
	}
	.sponsor-title h2 {
		font-size: 1.8em;
	}

	.stone-sponsor-1,
	.stone-sponsor-2{
		display: none;
	}
}

.border-title{
	border-top: 5px solid white;
}


#scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	
	-moz-animation: my-animation 15s linear infinite;
	-webkit-animation: my-animation 15s linear infinite;
	animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(-100%); }
  }



  /* for Chrome */
@-webkit-keyframes my-animation {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }  



  .item {
	  display: none;
  }

  .op2 {
	  opacity: 0.4;
  }

  .active {
	  display: flex;
	  /* opacity: 1; */
	 transition: visibility 0s, opacity 0.5s linear;
  }

  .none {
    display: none !important;
}

.avanti,
.indietro {
	color: #1c1c1c;
}